.btn {
    width: 185px;
    max-width: 185px;
 }

 section {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px
 }
 .weather-icon {
   max-width: 50%;
 }

 footer {
   text-align: center;
   margin-bottom: 20px;
 }

 .form-container {
  width: 14.5%;
 }

 #theforecast {
  font-size: 10px;
  text-align: center;
  font-weight: 600;
 }

#weatherdetails {
  font-size: 9px;
  text-align: center;
  font-weight: 600;
 }
