.btn {
    width: 185px;
    max-width: 185px;
 }

 section {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px
 }
 .weather-icon {
   max-width: 50%;
 }
 .card-header {
   display: flex;
   flex-wrap: wrap;
 }

 footer {
   text-align: center;
 }